#root > #card > h1.four-hundred-and-four {
  font-size: 200px;
  font-weight: 700;
  animation: glitch 1s infinite;
  position: relative;
  z-index: 10;
}

@keyframes glitch {
  0% {
    transform: skew(2deg);
  }
  10% {
    transform: skew(4deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(-2deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(-3deg);
  }
  90% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(-2deg);
  }
}

#root > #card > h1.four-hundred-and-four::before {
  content: "404";
  top: 0;
  left: 0;
  font-size: 200px;
  font-weight: 700;
  text-shadow: -2px 0 #0bcff1bf, 2px 2px #e4187ebf;
  animation: glitch-anim 2s infinite !important;
  position: absolute;
  z-index: 12 !important;
}

@keyframes glitch-anim {
  0% {
    clip: rect(216px, 9999px, 180px, 0);
    transform: skew(0.85deg), translateY(-3px);
  }
  5% {
    clip: rect(260px, 9999px, 9px, 0);
    transform: skew(0.34deg), translateY(-4px);
  }
  10% {
    clip: rect(158px, 9999px, 306px, 0);
    transform: skew(0.01deg), translateY(2px);
  }
  15% {
    clip: rect(207px, 9999px, 156px, 0);
    transform: skew(0.97deg), translateY(-1px);
  }
  20% {
    clip: rect(30px, 9999px, 331px, 0);
    transform: skew(0.94deg), translateY(-4px);
  }
  25% {
    clip: rect(31px, 9999px, 240px, 0);
    transform: skew(0.31deg), translateY(0px);
  }
  30% {
    clip: rect(18px, 9999px, 211px, 0);
    transform: skew(0.9deg), translateY(4px);
  }
  35% {
    clip: rect(44px, 9999px, 212px, 0);
    transform: skew(0.13deg), translateY(2px);
  }
  40% {
    clip: rect(79px, 9999px, 194px, 0);
    transform: skew(0.01deg), translateY(-1px);
  }
  45% {
    clip: rect(17px, 9999px, 171px, 0);
    transform: skew(0.5deg), translateY(0px);
  }
  50% {
    clip: rect(31px, 9999px, 126px, 0);
    transform: skew(0.85deg), translateY(-5px);
  }
  55% {
    clip: rect(137px, 9999px, 177px, 0);
    transform: skew(0.15deg), translateY(-3px);
  }
  60% {
    clip: rect(238px, 9999px, 91px, 0);
    transform: skew(0.62deg), translateY(-5px);
  }
  65% {
    clip: rect(242px, 9999px, 128px, 0);
    transform: skew(0.1deg), translateY(1px);
  }
  70% {
    clip: rect(259px, 9999px, 161px, 0);
    transform: skew(0.3deg), translateY(-1px);
  }
  75% {
    clip: rect(37px, 9999px, 194px, 0);
    transform: skew(0.84deg), translateY(3px);
  }
  80% {
    clip: rect(235px, 9999px, 336px, 0);
    transform: skew(0.55deg), translateY(-4px);
  }
  85% {
    clip: rect(195px, 9999px, 266px, 0);
    transform: skew(0.68deg), translateY(3px);
  }
  90% {
    clip: rect(167px, 9999px, 142px, 0);
    transform: skew(0.48deg), translateY(0px);
  }
  95% {
    clip: rect(81px, 9999px, 58px, 0);
    transform: skew(0.37deg), translateY(-4px);
  }
  100% {
    clip: rect(230px, 9999px, 159px, 0);
    transform: skew(0.05deg), translateY(4px);
  }
}
