#root > #card > h1.four-hundred-and-four {
  font-size: 200px;
  font-weight: 700;
  animation: glitch 1.5s infinite;
  position: relative;
  z-index: 10;
}

@keyframes glitch {
  0% {
    transform: skew(2deg);
  }
  10% {
    transform: skew(4deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(-2deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(-3deg);
  }
  90% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(-2deg);
  }
}

#root > #card > h1.four-hundred-and-four::before {
  content: "404";
  top: 0;
  left: 0;

  font-size: 200px;
  font-weight: 700;
  text-shadow: -4px -2px #0bcff1bf, 4px 2px #e4187ebf;

  animation: glitch-anim 1s infinite, move-anim 2s infinite !important;

  position: absolute;
  z-index: 12 !important;
}

@keyframes glitch-anim {
  0% {
    clip-path: polygon(0 160px, 100% 160px, 100% 180px, 0 180px);
    transform: skew(0.85deg) translateY(-1px);
  }
  5% {
    clip-path: polygon(0 9px, 100% 9px, 100% 260px, 0 260px);
    transform: skew(0.34deg) translateY(-2px);
  }
  10% {
    clip-path: polygon(0 158px, 100% 158px, 100% 306px, 0 306px);
    transform: skew(0.01deg) translateY(2px);
  }
  15% {
    clip-path: polygon(0 156px, 100% 156px, 100% 207px, 0 207px);
    transform: skew(0.97deg) translateY(-1px);
  }
  20% {
    clip-path: polygon(0 30px, 100% 30px, 100% 331px, 0 331px);
    transform: skew(0.94deg) translateY(-1px);
  }
  25% {
    clip-path: polygon(0 31px, 100% 31px, 100% 240px, 0 240px);
    transform: skew(0.31deg) translateY(0px);
  }
  30% {
    clip-path: polygon(0 18px, 100% 18px, 100% 211px, 0 211px);
    transform: skew(0.9deg) translateY(1px);
  }
  35% {
    clip-path: polygon(0 44px, 100% 44px, 100% 212px, 0 212px);
    transform: skew(0.13deg) translateY(2px);
  }
  40% {
    clip-path: polygon(0 79px, 100% 79px, 100% 194px, 0 194px);
    transform: skew(0.01deg) translateY(-1px);
  }
  45% {
    clip-path: polygon(0 17px, 100% 17px, 100% 171px, 0 171px);
    transform: skew(0.5deg) translateY(0px);
  }
  50% {
    clip-path: polygon(0 31px, 100% 31px, 100% 126px, 0 126px);
    transform: skew(0.85deg) translateY(-2px);
  }
  55% {
    clip-path: polygon(0 137px, 100% 137px, 100% 177px, 0 177px);
    transform: skew(0.15deg) translateY(-1px);
  }
  60% {
    clip-path: polygon(0 91px, 100% 91px, 100% 238px, 0 238px);
    transform: skew(0.62deg) translateY(-2px);
  }
  65% {
    clip-path: polygon(0 128px, 100% 128px, 100% 242px, 0 242px);
    transform: skew(0.1deg) translateY(1px);
  }
  70% {
    clip-path: polygon(0 161px, 100% 161px, 100% 259px, 0 259px);
    transform: skew(0.3deg) translateY(-2px);
  }
  75% {
    clip-path: polygon(0 37px, 100% 37px, 100% 194px, 0 194px);
    transform: skew(0.84deg) translateY(1px);
  }
  80% {
    clip-path: polygon(0 235px, 100% 235px, 100% 336px, 0 336px);
    transform: skew(0.55deg) translateY(-2px);
  }
  85% {
    clip-path: polygon(0 195px, 100% 195px, 100% 266px, 0 266px);
    transform: skew(0.68deg) translateY(1px);
  }
  90% {
    clip-path: polygon(0 142px, 100% 142px, 100% 167px, 0 167px);
    transform: skew(0.48deg) translateY(0px);
  }
  95% {
    clip-path: polygon(0 58px, 100% 58px, 100% 81px, 0 81px);
    transform: skew(0.37deg) translateY(-2px);
  }
  100% {
    clip-path: polygon(0 159px, 100% 159px, 100% 230px, 0 230px);
    transform: skew(0.05deg) translateY(1px);
  }
}

@keyframes move-anim {
  0% {
    transform: translateY(-1px);
  }
  5% {
    transform: translateY(-2px);
  }
  10% {
    transform: translateY(2px);
  }
  15% {
    transform: translateY(-1px);
  }
  20% {
    transform: translateY(-1px);
  }
  25% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(1px);
  }
  35% {
    transform: translateY(2px);
  }
  40% {
    transform: translateY(-1px);
  }
  45% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2px);
  }
  55% {
    transform: translateY(-1px);
  }
  60% {
    transform: translateY(-2px);
  }
  65% {
    transform: translateY(1px);
  }
  70% {
    transform: translateY(-2px);
  }
  75% {
    transform: translateY(1px);
  }
  80% {
    transform: translateY(-2px);
  }
  85% {
    transform: translateY(1px);
  }
  90% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(1px);
  }
}
