html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --primary-tone-1: #f0eef6;
  --primary-tone-2: #d1cde5;
  --primary-tone-3: #b2abd3;
  --primary-tone-4: #938ac2;
  --primary-tone-5: #7468b0;
  --primary-tone-6: #5a4f97;
  --primary-tone-7: #463d75;
  --primary-tone-8: #322c54;
  --primary-tone-9: #1e1a32;
  --primary-tone-10: #0a0911;
}

::-moz-selection {
  color: var(--primary-tone-2);
  background: #5a4f97bf;
}
::selection {
  color: var(--primary-tone-2);
  background: rgba(116, 104, 176, 0.5);
}

body,
#root {
  background-color: var(--primary-tone-3);
}

#root {
  padding: 36px;

  color: var(--primary-tone-7);

  font-family: "Fira Code", "Sans";
  font-weight: 400;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#root.loading > #card {
  display: none;
}

#root.unsupported > #card * {
  display: none !important;
}

#root > #card > p.unsupported {
  display: none;
  text-align: center;
}

#root.unsupported > #card > p.unsupported {
  display: block !important;
}

#root > #card {
  max-width: 600px;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: openCard 500ms cubic-bezier(0.6, 0, 0.2, 1.4) 1;
}

@keyframes openCard {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.button-wrapper {
  width: auto;
  height: auto;

  display: inline-block;

  padding: 2px;
}

.button {
  height: 36px;
  width: auto;

  padding: 0 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: inherit;
  background-color: var(--main-color);

  border-radius: 4px;

  font: inherit;
  text-decoration: inherit;

  cursor: pointer;
  user-select: none;

  transition-duration: 300ms;
  transition-property: background-color, border;
}

@media screen and (min-width: 480px) {
  .button:hover {
    transition-duration: 300ms;
    background-color: var(--hover-color);
  }

  .button:active {
    transition-duration: 200ms;
    background-color: var(--active-color);
  }
}

.loader {
  display: none;
}

#root.loading .loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root .loader {
  display: none;
}

.loader > span {
  --main-color: rgb(240, 240, 240);
  --secondary-color: rgba(150, 150, 150, 0.05);
  width: 16px;
  height: 16px;

  border: solid 2px var(--primary-tone-8);
  border-right-color: transparent;
  border-radius: 50%;

  animation: loader 0.75s infinite linear;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

h1,
p,
pre {
  margin: 0;
}

i.inline-code {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: rgba(147, 138, 194, 0.6);
  font-family: "Fira Code";
  font-style: inherit;
}

pre.code-block {
  padding: 8px 64px 8px 16px;
  border-radius: 8px;
  background-color: rgba(147, 138, 194, 0.6);
  text-align: initial;
  font-family: "Fira Code";
  font-style: inherit;
  position: relative;
}

pre.code-block.js::after {
  content: "js";
  color: var(--primary-tone-5);
  font-size: 14px;
  top: 4px;
  right: 8px;
  position: absolute;
  display: inline-block;
}
