#root > #card > div.profile-picture {
  padding-bottom: 16px;
}

#root > #card > div.profile-picture > img {
  width: 64px;
  height: 64px;
  filter: saturate(75%);
}

#root > #card > div.text,
div.buttons {
  width: 100%;
  padding: 5px;
}

#root > #card > div.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root > #card > div.text > * {
  margin-top: 4px;
}

#root > #card > div.text > :first-child {
  margin-top: 0;
}

#root.mobile > #card > div.text > .code-block {
  display: none;
}

#root > #card > div.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

#root > #card > div.text > p {
  padding: 2px 0;
}

#root > #card .button {
  --main-color: hsl(250, 31%, 70%);
  --hover-color: hsl(250, 31%, 72%);
  --active-color: hsl(250, 31%, 68%);
}
